{% load humanize %}
{% load pagination_tags %}
{% load avatar_tags %}

<div class="history-list">
  {% autopaginate activities %}

  {% for activity in activities %}
    <div class="history-item media">
      <div class="media-left">
        <img src="{% avatar_url activity.actor 32 %}" alt="" class="user-avatar">
      </div>
      <div class="media-body">

        <strong>
          <a href="{{ activity.actor.get_absolute_url }}">
            {{ activity.actor }}
          </a>
        </strong>
        {% if activity.verb == "created" or activity.verb == "modified"  %}
          {{ activity.verb }} this {{activity.content_type.model}}

        {% elif "to_marketing" in activity.verb %}
          added this {{activity.content_type.model}} to marketing list

        {% elif activity.verb == "assigned" %}
          {% if activity.actor != activity.target %}
            {{ activity.verb }} {{ activity.target }} to this {{activity.content_type.model}}
          {% else %}
            get assigned on this {{activity.content_type.model}}
          {% endif %}

        {% elif activity.verb == "unassigned" %}
          {% if activity.actor != activity.target %}
            {{ activity.verb }} {{ activity.target }} from this {{activity.content_type.model}}
          {% else %}
            get unassigned from this {{activity.content_type.model}}
          {% endif %}
          
        {% elif activity.verb == "ownership" %}
          {% if activity.actor != activity.target %}
            change this {{activity.content_type.model}} owner to {{ activity.target }}
          {% else %}
            get ownership on this {{activity.content_type.model}}
          {% endif %}
        
        {% elif activity.verb == "accepted" or activity.verb == "declined" %}
          {{activity.verb}} this {{activity.content_type.model}}

        {% elif activity.verb == "email" or activity.verb == "phone" %}
          contact {{activity.object}} via {{activity.verb}}
        {% endif %}

      <span class="history-date">
        {{ activity.created_at|naturaltime }}
      </span>

        {% if show_detail and activity.detail %}
          <ul class="history-details">
            {% for detail in activity.details %}
              <li>  {{ detail }} </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% paginate %}
</div>
